.active {
    color: #ffffff;
    /* background: rgba(255, 255, 255, 0.15); */
    border-left-color: #ffffff;
    background:#EBC16B;
    color: black !important;
}

.routerLinkActive {
    color: red;
}

.hide {
    display: none;
}